<div>
    <h2> Codigo de pedido {{ticketRender.code}}</h2>
    <p>Comprador: {{ticketRender.purchaser}}</p>
    
    <p>FECHA DE LA COMPRA: {{ticketRender.purchase_datetime}}</p>


    <table class="table table-striped">
        <tr>
            <th>Prod ID</th>
            <th>codigo</th>
            <th>title</th>
            <th>Precio</th>
            <th>Quantity</th>
            <th>Categoria</th>
        </tr>

        {{#each ticketRender.products}}
            <tr class="table-light">
                <td>{{this.product._id}} </td>
                <td>{{this.product.code}} </td>
                <td>{{this.product.title}}</td>
                <td>{{this.product.price}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.product.category}}</td>

            </tr>
        {{/each}}
    </table>

    <h2> TOTAL: ${{ticketRender.total_amount}}</h2>

    <h2>Productos no comprados por falta de stock, modificar carrito</h2>
    
    <table class="table table-striped">
        <tr>
            <th>Prod ID</th>
            <th>codigo</th>
            <th>title</th>
            <th>Precio</th>
            <th>Quantity</th>
            <th>Categoria</th>
        </tr>

        {{#each products.NoOk.products}}
            <tr class="table-light">
                <td>{{this.product._id}} </td>
                <td>{{this.product.code}} </td>
                <td>{{this.product.title}}</td>
                <td>{{this.product.price}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.product.category}}</td>

            </tr>
        {{/each}}
    </table>

</div>   